@use '../../styles/variables' as *;
@use 'sass:color';

.button {
  cursor: pointer;
  height: fit-content;
  font-size: 1rem;
  padding: 0.7rem 2rem;
  background-color: var(--gy-color-brand);
  color: var(--gy-color-bg);
  border-radius: 0.8rem;
  width: fit-content;
  transition: all 0.3s ease;

  &:hover {
    background-color: color-mix(in srgb, var(--gy-color-brand), black 20%);
  }

  &:active {
    transform: scale(0.95);
  }

  &.long {
    width: 100%;
  }

  &.theme- {
    &secondary {
      background-color: color-mix(in srgb, var(--gy-color-brand), transparent 90%);
      color: var(--gy-color-brand);

      &:hover {
        background-color: color-mix(in srgb, var(--gy-color-brand), transparent 80%);
      }
    }

    &normal {
      background-color: var(--gy-color-normal);
      color: var(--gy-text-color-secondary);

      &:hover {
        background-color: color-mix(in srgb, var(--gy-color-normal), #000 10%);
        color: var(--gy-text-color-secondary);
      }
    }

    &normal-flat {
      background-color: transparent;
      color: var(--gy-text-color-secondary);

      &:hover {
        background-color: color-mix(in srgb, var(--gy-color-normal), transparent 30%);
        color: var(--gy-text-color-secondary);
      }
    }

    &flat {
      color: var(--gy-color-brand);
      background: transparent;

      &:hover {
        background-color: color-mix(in srgb, var(--gy-color-brand), transparent 90%);
      }
    }

    &reverted {
      background-color: #fff;
      color: var(--gy-color-brand);
      &:hover {
        background-color: #ffffff8e;
      }
    }

    &reverted-secondary {
      color: #fff;
    }
  }

  &.size- {
    &xl {
      padding: 1rem 2rem;
      &.iconOnly {
        padding: 1rem;
      }
    }

    &l {
      padding: 0.7rem 2rem;
      &.iconOnly {
        padding: 0.7rem;
      }
    }

    &m {
      padding: 0.5em 1rem;
      &.iconOnly {
        padding: 0.5rem;
      }
    }

    &s {
      font-size: 0.8rem;
      padding: 0.4rem 0.5rem;
      &.iconOnly {
        padding: 0.4rem;
      }
    }

    &xs {
      font-size: 0.7rem;
      padding: 0.4rem 0.75rem;
      &.iconOnly {
        padding: 0.4rem;
      }
    }
  }

  &.disabled {
    filter: grayscale(1);
    opacity: 0.3;
    pointer-events: none;
    user-select: none;
  }
}
