.codeBlock_wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding: 0;
  overflow: hidden;
  border-radius: 1rem;
  background-color: rgb(240 240 240 / 47%) !important;

  .header {
    padding: 1.5rem;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    span {
      opacity: 0.5;
    }
  }

  .codeBlock {
    padding: 1.5rem;
    padding-top: 0.5rem;
    margin: 0;

    .line {
      overflow: hidden;
      height: 24px;
      transition:
        height 0.3s ease,
        background 1s ease-in-out;
      &.collapsed {
        height: 0;
      }

      &.highlighted {
        background-color: #747bff24;
      }
    }
  }

  .copy {
    .copyIcon {
      height: 1.2em;
      transition: all 0.3s ease;
    }
    .checkedIcon {
      height: 0em;
      transition: all 0.3s ease;
    }
    .copyText {
      overflow: hidden;
      transition: all 0.3s ease;
    }
    .checkedText {
      overflow: hidden;
      transition: all 0.3s ease;
    }
    &.successed {
      .copyIcon {
        height: 0;
      }
      .checkedIcon {
        height: 1.2em;
      }
    }
  }
}

:global(.dark) {
  .codeBlock_wrapper {
    background-color: rgb(31, 31, 31) !important;
  }
}
