.card {
  padding: 2rem;
  background-color: rgba(21, 130, 185, 0.224);
  border-radius: 1rem;
  color: rgb(21, 130, 185);
  width: auto;
  transition: all 0.3s ease;

  &.card-theme- {
    &normal {
      background-color: rgba(165, 165, 165, 0.114);
    }

    &white {
      background-color: #fff;
    }

    &normal-branded {
      background-color: color-mix(in srgb, var(--gy-color-brand), transparent 90%);
    }

    &filled {
      --gy-text-color-primary: #fff;
      background-color: var(--gy-color-brand);
    }
  }

  &.card-size- {
    &s {
      border-radius: 0.5rem;
      padding: 0.5rem;
    }

    &m {
      border-radius: 0.7rem;
      padding: 1rem;
    }

    &l {
      border-radius: 1rem;
      padding: 2rem;
    }

    &xl {
      border-radius: 2rem;
      padding: 3rem;
    }
  }

  &.outlined {
    box-shadow: 0 0 0 3px inset rgba(78, 78, 78, 0.095);
  }
}
