.tooltipWrapper {
  display: inline-block;
  position: relative;
}

.tooltip {
  position: absolute;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(2px);
  color: rgb(0, 0, 0);
  padding: 1rem;
  border-radius: .5rem;
  font-size: 14px;
  z-index: 10;
  white-space: pre-wrap; /* поддержка многострочного текста */
  opacity: 0;
  transform: translateY(5px);
  transition: opacity 0.2s ease, transform 0.2s ease;
  pointer-events: all;
}

.tooltip.showing {
  opacity: 1;
  transform: translateY(0);
}

/* .tooltip.top::after,
.tooltip.bottom::after,
.tooltip.left::after,
.tooltip.right::after {
  content: '';
  position: absolute;
  border-style: solid;
}

.tooltip.top::after {
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px 5px 0 5px;
  border-color: rgba(255, 255, 255, 0.85) transparent transparent transparent;
}

.tooltip.bottom::after {
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent rgba(255, 255, 255, 0.85) transparent;
}

.tooltip.left::after {
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.85);
}

.tooltip.right::after {
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
  border-width: 5px 5px 5px 0;
  border-color: transparent rgba(255, 255, 255, 0.85) transparent transparent;
}
 */


 .withArrow.tooltip::before, .withArrow.tooltip::after {
    content: "";
    position: absolute;
    top: 100%; /* под тултипом */
    width: 1em;
    height: 1em;
    background: transparent;
  }

  .tooltip::before {
    left: calc(50% - 1em);
    background-image: radial-gradient(circle at 0% 100%, transparent 1em, #ffffff calc(1em + 1px));
  }

  .tooltip::after {
    left: 50%;
    background-image: radial-gradient(circle at 100% 100%, transparent 1em, #ffffff calc(1em + 1px));
  }

  /* === другие варианты === */
  /* стрелка сверху */
  .tooltip.bottom::before,
  .tooltip.bottom::after {
    top: auto;
    bottom: 100%;
  }
  .tooltip.bottom::before {
    left: calc(50% - 1em);
    background-image: radial-gradient(circle at 0% 0%, transparent 1em, #ffffff calc(1em + 1px));
  }
  .tooltip.bottom::after {
    left: 50%;
    background-image: radial-gradient(circle at 100% 0%, transparent 1em, #ffffff calc(1em + 1px));
  }

  /* стрелка слева */
  .tooltip.right::before,
  .tooltip.right::after {
    top: 50%;
    left: auto;
    right: 100%;
    transform: translateY(-50%);
  }
  .tooltip.right::before {
    top: calc(50% - 1em);
    background-image: radial-gradient(circle at 0% 0%, transparent 1em, #ffffff calc(1em + 1px));
  }
  .tooltip.right::after {
    top: 50%;
    background-image: radial-gradient(circle at 0% 100%, transparent 1em, #ffffff calc(1em + 1px));
  }

  /* стрелка справа */
  .tooltip.left::before,
  .tooltip.left::after {
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
  }
  .tooltip.left::before {
    top: calc(50% - 1em);
    background-image: radial-gradient(circle at 100% 0%, transparent 1em, #ffffff calc(1em + 1px));
  }
  .tooltip.left::after {
    top: 50%;
    background-image: radial-gradient(circle at 100% 100%, transparent 1em, #ffffff calc(1em + 1px));
  }